# ==========================================
# 1. Données, BDD & MLflow
# ==========================================
*.csv
*.xlsx
*.sql
*.parquet
*.db
*.sqlite
mlflow.db
data/
artifacts/
mlruns/
**/mlruns/

# A voir si je les exclue ou pas
# *.joblib
# *.pkl

# ==========================================
# 2. Python & Environnements
# ==========================================
__pycache__/
*.py[cod]
*$py.class
*.so

# Environnements virtuels (fichiers ET dossiers)
env/
venv/
.venv/
.env/
ENV/
env.bak/
venv.bak/

# Fichiers d'environnement (secrets, clés API, etc.)
.env
.env.*
!.env.example

# ==========================================
# 3. Notebooks & Outils de Dev
# ==========================================
.ipynb_checkpoints/
postman/
.postman/
*.pdf

# Cache Pytest, Coverage & MLOps
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
scripts/analyze_drift.py

# ==========================================
# 4. Packaging & Distribution
# ==========================================
build/
dist/
*.egg-info/
*.egg

# --- LOGS ET MONITORING ---
# Ignorer tous les fichiers de logs d'inférence
logs/*.jsonl
logs/*.log

# --- EVITER D'IGNORER LE .GITKEEP ---
!logs/.gitkeep
!reports/.gitkeep

# ==========================================
# 5. Fichiers Système & IDE
# ==========================================
.DS_Store
Thumbs.db
.vscode/
.idea/